h1,h2{
    border: 2px solid red;
    width: 500px;
    height: 100px;

}

h1{
    margin: 100px;
}
a{
    border: 2px solid rgb(0, 17, 255);
    /* margin and padding top and botton me add nhi hota  */
    margin: 100px;   
    
}